---
const { id, titulo, precio, imagen, agotado = false } = Astro.props;
const imgSrc = imagen?.src ?? "/img/no-image.png";
---


<div
  class="card-simple"
  data-producto
  data-id={id}
  data-nombre={titulo}
  data-precio={precio}
  data-imagen={imgSrc}
  data-agotado={agotado}  
>

  <!-- Navegar -->
  <a href={`/productos/${id}`} class="card-link">
   <div class="card-img">
  <img src={imgSrc} alt={titulo} />

  {agotado && (
    <span class="badge-agotado">
      AGOTADO
    </span>
  )}
</div>


    <div class="card-info">
      <h3>{titulo}</h3>
      <p class="precio">S/ {precio}</p>
    </div>
  </a>

  <!-- Carrito -->
  <button
  class="btn-add"
  disabled={agotado}
>
  {agotado ? "Sin stock" : "Agregar al carrito"}
</button>

<!-- 🔥 NUEVO: mensaje dinámico -->
<div class="card-msg hidden"></div>

</div>


<style>
.card-simple {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-simple:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}


.card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Imagen */

.card-img {
  background: #f5f5f5;
  height: 260px;   /* más protagonismo */
  overflow: hidden;
  display: flex;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}




/* Información */
.card-info {
  padding: 0.8rem;
  text-align: center;  /* centra todo */
}

.card-info h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.4rem;
}

.precio {
  font-size: 1.2rem;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.card-simple:hover .card-img img {
  transform: scale(1.05);
}

/* Botón */

.btn-add {
  width: 100%;
  background: #2c2c2c;
  color: white;
  border: 1px solid transparent; /* importante */
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}


.btn-add:hover {
  background: #000;
  letter-spacing: 0.5px;
  transform: translateY(-2px);
  box-shadow: inset 0 0 0 1px #fff;
}


.btn-add:active {
  transform: translateY(0);
}

.btn-add:disabled {
  background: #aaa;
  cursor: not-allowed;
}


/* Agotado */

.badge-agotado {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #c0392b;
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

.card-msg {
  padding: 0.6rem;
  font-size: 0.85rem;
  text-align: center;
  font-weight: 600;
  color: #dc3545;
  background: rgba(220, 53, 69, 0.08);
}

.hidden {
  display: none;
}

.card-msg {
  padding: 0.6rem;
  font-size: 0.85rem;
  text-align: center;
  font-weight: 600;
  color: #dc3545;
  background: rgba(220, 53, 69, 0.08);
}


</style>












