---
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Marca {
  id_marca: number;
  nombre_marca: string;
  descripcion: string | null;
  url_logo: string | null;
}

import {
  API_URL,
  UPLOADS_URL
} from "../../config/api";

let marcas: Marca[] = [];

try {
  const res = await fetch(
    `${API_URL}/marcas`,
    { cache: "no-store" }
  );

  if (!res.ok) {
    console.error(
      "Error cargando marcas:",
      res.status,
      res.statusText
    );
  } else {
    const result = await res.json();
    marcas = result.data ?? [];
  }
} catch (error) {
  console.error("Error cargando marcas:", error);
}
---

<BaseLayout title="Marcas">

  <div class="container py-5">

    <h2 class="mb-4 fw-bold text-center section-title">
      Nuestras Marcas
    </h2>

   <div class="row g-4">

  {marcas.map((m) => (
    <div class="col-6 col-md-4 col-lg-3">
      <a 
        href={`/productos?marca=${m.id_marca}`}
        class="ui-card text-decoration-none"
      >

        <div class="ui-card-img is-contain">
          <img 
          src={m.url_logo
 ? `${UPLOADS_URL}/${m.url_logo}`
 : "/img/no-image.png"}
            alt={m.nombre_marca}
          />
        </div>

        <div class="ui-card-body">
          <h5>{m.nombre_marca}</h5>
        </div>

      </a>
    </div>
  ))}

</div>



  </div>

</BaseLayout>


